@import "tailwindcss";


/* Hide scrollbar completely */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  height: 0;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge legacy */
}